---
import PageLayout from '@/layouts/Base.astro'

const meta = {
  description: "I'm a starter theme for Astro.build",
  title: 'About',
}
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">Contact me:</h1>
    <p>I can be found and connected from the following locations below:</p>
    <p>Email at: rajivharlalka at gmail.com</p>
    <ul>
      <li>Twitter: <a href="https://x.com/rajivharlalka09">rajivharlalka09</a></li>
      <li>Github: <a href="https://github.com/rajivharlalka">rajivharlalka</a></li>
      <li>Linkedin: <a href="https://linkedin.com/in/rajivharlalka09">rajivharlalka009</a></li>
      <li>Lobsters: <a href="https://lobste.rs/~rajivharlalka">rajivharlalka</a></li>
    </ul>
  </div>
</PageLayout>
