---
import SocialList from '@/components/SocialList.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import { getAllPosts, sortMDByDate } from '@/data/post'
import PageLayout from '@/layouts/Base.astro'

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
  <section>
    <h1 class="title mb-6">👋 Hello!</h1>
    <p class="mb-4">
      Hi, I’m Rajiv Harlalka, a Final Year Undergrad at IIT Kharagpur. From spending my time either
      reading some random article on the internet to having a nice talk with my friends on
      <a style="color:red" href="https://wiki.metakgp.org/w/2.2">2.2</a>. I am into writing code in
      Javascript and Go, have developed a low key-hate for Python. Recently had a exposure on
      containerization and orchestration tools whose internal working fantisized me a lot. Exploring
      Databases, and fixing my dotfiles currently.
      <p>

        Apart from tech, I play Squash and love cycling with soft indie music pleasing the ears.
      </p>
    </p>

    <SocialList />
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="title mb-4 text-xl">Posts</h2>
    <ul class="space-y-4">
      {
        allPostsByDate.map((p) => (
          <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
            {/* @ts-expect-error - issue with -> @astrojs/check@0.9.3 */}
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
